<div class="sidebar">




  <ul class="navigation">
        <!--<li><a href="ips_path" class="blblue">首页</a></li>-->
        <li></li>
        <li>
          <%= link_to '首页' ,ips_path%>
          <div class="open"></div>
          <ul>
            <li><%= link_to 'IP管理系统' ,ips_path%></li>
            <li><%= link_to '惩罚管理系统' ,punishes_path%></li>
            <li><%= link_to '活动管理系统' , '#'%></li>
          </ul>
        </li>

  </ul>

</div>
